/* Style général */
body {
    font-family: "Bree Serif", serif;
    line-height: 1.6;
    color: #333333;
    background-image: url('images/backgroundpnj.png');
    background-size: 30%;
}

/* En-tête */
header {
    background: #333;
    color: red;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: "Metal Mania", serif;
}

header figure {
    margin: 10px 0;
    font-family: "Bree Serif", serif;
}

header img {
    max-width: 400px;
    border-radius: 50%;
}

header figcaption {
    font-style: italic;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Sections */
section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


section h2 {
    text-align: center;
    color: red;
    font-family: "Metal Mania", serif;
    font-weight: 700;
}

/* Galerie */
.galerie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galerie__item {
    max-width: 350px;
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 50px;
}

.galerie__item:hover {
    transform: scale(1.2) rotate(10deg);
}

/* Formulaire */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #f39c12;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Animation */
button {
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 600px; 
    max-height: 400px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

  /* Bouton */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.galerie__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.galerie__item {
    flex: 0 1 200px;
    display: flex;    
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}
.galerie__item img {
    cursor: pointer;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}

html {
    scroll-behavior: smooth;
}
#revealSecret {
    background-color: #fd4444;
    color: #fff;
    font-size: 2rem;
    border: 2px solid #fff;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
}

#revealSecret:hover {
    background-color: #666;
    transform: scale(1.1);
}

  /* Effet au clic */
#revealSecret:active {
    transform: scale(1.05);
}
.biograpgie__list{
    list-style: none;
}
.biograpgie__item{
    list-style: none;
}
.biographie__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.biographie__item {
    background-color: #333;
    border-radius: 2rem;
    padding: 15px 25px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.05);
    color: red;
    font-weight: bold;
}
.biographie__container{
    display: flex;
    align-items: center;
}
.biographie__swain {
    width: 400px;
    margin-right: 20px;
    border-radius: 32px;
}
.biographie__list {
    list-style-type: none;
    padding: 0;
}
.errorMessages{
    color: red
}
/* Media Queries pour Tablette */
@media screen and (max-width: 1024px) {
    /* En-tête */
    header img {
        max-width: 300px;
    }

    .galerie {
        flex-direction: column;
        align-items: center;
    }

    .galerie__item {
        max-width: 300px;
        margin: 20px 0;
    }

    .biographie__container {
        flex-direction: column;
    }

    .biographie__swain {
        width: 100%;
        margin-bottom: 20px;
    }

    form {
        width: 90%;
    }
}
/* Media Queries pour Mobile */
@media screen and (max-width: 768px) {
    /* En-tête */
    header h1 {
        font-size: 1.5em;
    }

    header img {
        max-width: 250px;
    }

    /* Menu */
    nav ul {
        text-align: center;
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Sections */
    section {
        padding: 15px;
        margin: 20px;
    }

    /* Galerie */
    .galerie {
        flex-direction: column;
        align-items: center;
    }

    .galerie__item {
        max-width: 100%;
        margin: 15px 0;
    }

    /* Formulaire */
    form {
        width: 100%;
    }

    /* Biographie */
    .biographie__container {
        flex-direction: column;
    }

    .biographie__swain {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Bouton */
    #revealSecret {
        font-size: 1.5rem;
        padding: 15px 30px;
    }
}